  /*--for nav --*/
  ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: #EEE2DC;
  }
  
li{
    float:right;
  }
  
li a{
    display:block;
    color: white; 
    text-align: center;
    padding: 20px 20px;
    text-decoration: none; 
  }
  
li a:hover{
    background-color: #111;
  }


body, html{
    font-family: 'Nunito', sans-serif;
    height: 100%; 
    margin: 0; 
    background-color:#E7717D;
}

.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/love.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text{
    text-align: center;
    position:absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white; 
    font-family: 'Dosis', sans-serif;
    font-size: 150%;
}

.hero-text button:hover{
    background-color: #555;
    color:white; 
}

.row img{
    width: 85%;
    height: auto;
    text-align: center;
    
  }
  
  .row{
    display:flex;
    padding-left:20%;
    padding-right:20%;
    padding-bottom: 10%;
    padding-top:5%;
    border-bottom: 1px solid #555;
  }
  .col{
    flex:50%;
  }

.footer{
    position:static; 
    left:0; 
    bottom: 0;
    width:100%; 
    background-color:grey; 
    color:black; 
    text-align:center; 
    padding-top: 20px; 
    padding-bottom: 20px; 
    text-transform: bold; 
    background-color: #EEE2DC;
}

h2{
  font-size: 25px;
  font-family: 'Fjalla One', sans-serif;
}

