ul{
    list-style-type: none; 
    margin: 0; 
    padding:0;
    overflow: hidden;
    background-color: #45A29E;
}

li{
    float:right;
}

li a{
    display: block; 
    color: white; 
    text-align: center; 
    padding: 25px 25px; 
    text-decoration: none; 
}
li a:hover{
    background-color: #111; 
}

/*-- editing images --*/

.row img{
    max-width: 75%;
}
.row{
    display:flex; 
    padding-left: 20%; 
    padding-right: 20%; 
    padding-top: 5%; 
    padding-bottom: 5%;
}
.col{
    flex: 50%;
}

h1{
    text-align: center; 
    font-size: 250%;
    font-family: 'Dosis', sans-serif;
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: #EEE2DC;
}
.figure{
    display: inline-block;
    weight: 25%;
}
.imggrid{
    padding:2px 50px 65px 50px;
}
.rowgrid{
    display:flex;
    flex-wrap:none;
    padding:0 0px;
}
.colgrid{
    flex:33.33%;
    max-width:33.33%;
    padding:0 0px;
}
.colgrid img{
    margin-top:12px;
    vertical-align:middle;
    width:70%;
    height:200px;

}

.footer{
    position:static; 
    left: 0;
    bottom: 0; 
    width: 100%; 
    background-color: #45A29E; 
    color: white; 
    text-align: center; 
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform: bold;
}

.carousel-caption{
    color: whitesmoke;
    
}

.carousel-item img{
    height: 604px !important; 
    width: auto; 

}

h3{
    font-family: 'Fjalla One', sans-serif;
    color: white;
    background-color:  #45A29E ;
    
   
}
h2{
    font-family: 'Fjalla One', sans-serif;

}
/** working with carousel **/ 


.jumbotron{
    background-color: #45A29E;
    width: auto;
 
}

.food{
    font-size: 15px;  
    width: 300px; 
    border: solid #45A29E 3px;
    background:  beige;
    color: black; 

}
