body,html{
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.hero-image{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url("images/downtown.jpg"); 
    height: 50%;
    background-position: center;
    background-repeat: no-repeat; 
    background-size:cover;
    position:relative;
}

.hero-text{
    text-aligm:center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    color:white;
}

.hero-text button: hover{
    background-color: #555;
    color:white;
}

#h1{
    font-size: 50 px;
}