body, html {
    height: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #FDAC4F;
  }
  
  #h1{
      font-size: 50px; 
  }
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/downtown.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 120%;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }


.row img{
  width: 50%;
  height: auto;
  text-align: center;
  
}

.row{
  display:flex;
  padding-left:20%;
  padding-right:20%;
  padding-bottom: 5%;
  padding-top:5%;
  border-bottom: 1px solid #555;
}
.col{
  flex:50%;
  /*padding-left: 20%;
  padding-right:20%; */
}

/*--for nav --*/
ul{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color: grey;
}

li{
  float:right;
}

li a{
  display:block;
  color:white; 
  text-align: center;
  padding: 20px 20px;
  text-decoration: none; 
}

li a:hover{
  background-color: #111;
}

/* working with footer */
.footer{
  position:static; 
  left: 0;
  bottom: 0; 
  width: 100%; 
  background-color: grey;
  color: white; 
  text-align: center; 
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

/* want to make font bigger and bold!!! */

